<%= @game.player_1.name %> and <%= @game.player_2.name %> do battle!
<%= @game.player_1.name %> <%= @game.player_1.hp %>hp
<%= @game.player_2.name %> <%= @game.player_2.hp %>hp

<a href="/attack">Attack <%= @game.player_2.name %></a>
